{% extends 'nav.html' %}
{% block content %}

<html>
<style>
.control{
    padding-top: 10px;
}
.chefpage{
    padding-top: 30px;
}
#commentsection{
    padding-top: 35px;
}
</style>
<div class="chefpage">

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Meet Chef {{chef.first_name}}</p>
              <p class="subtitle">Based in {{chef.location}}</p>
              <div class="content">
                <!-- Content -->
                {{chef.bio}}
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Submit your Request</p>
              <div class="content">
                <!-- Content -->
                   <!-- create new request -->
        <form action="{% url 'request_create' chef.pk %}" method="post">
            {% csrf_token %}
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        required
                    />
                </div>
                <div class="control">
                    <textarea
                        class="textarea"
                        rows="5"
                        name="summary"
                        placeholder="Summary"
                        required
                    ></textarea>
                    <div class="control">
                        <input
                            class="input"
                            type="number"
                            name="people"
                            placeholder="Number of People"
                            min="1"
                            required
                        />
                    <div class="control">
                        <input
                            class="input"
                            type="date"
                            name="date_of_event"
                            placeholder="Date of Event"
                            required
                        />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Submit Request" />
                </div>
        </form>
              </div>
            </div>
          </article>
        </div>
      </div>
    
        <!-- manage list of requests -->
            <h3 class="title is-3">Upcoming Requests for {{chef.first_name}}</h3>
    
            {% for request in chef.requests.all %}
                <div class="song">
                    <span><b>{{request.title}}</b></span>
                     <!-- drop down for the event information -->
                     <p> {{request.date_of_event}} </p>
                     <div class="detail__container">

                </div>
    
            {% empty %}
                <article class="message">
                    <div class="message-header">
                        <p>No Requests for this Chef</p>
                    </div>
                </article>
    
            {% endfor %}
        </div>

                <!-- manage list of comments -->
                <div class="detail__songs mb-5">
                    <h3 id="commentsection" class="title is-3">What other have said...</h3>
            
                                <!-- comment form -->

        <form class="mb-5" action="{% url 'comment_create' chef.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <textarea
                        class="input"
                        name="body"
                        placeholder="Comment"
                        required
                    ></textarea>
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Comment" />
                </div>
            </div>
        </form> 

                    {% for comment in chef.comments.all %}
                        <div class="song">
                            <span><b>{{comment.name.username}}</b></span>
                             <p> {{comment.body}} </p>
                             <hr>
                        </div>
                    {% empty %}
                        <article class="message">
                            <div class="message-header">
                                <p>No Comments for this Chef</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>

</div>
</html>

{% endblock %}