{% extends 'nav.html' %} 
{% block content %}
<div>
    <h1>Meet Chef {{chef.first_name}} </h1>

        <!-- create new sale -->
        <form class="mb-5" action="{% url 'request_create' chef.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="textfield"
                        name="summary"
                        placeholder="Summary"
                        min="1"
                        required
                    />
                    <div class="control">
                        <input
                            class="input"
                            type="number"
                            name="people"
                            placeholder="Number of People"
                            min="1"
                            required
                        />
                    <div class="control">
                        <input
                            class="input"
                            type="date"
                            name="date_of_event"
                            placeholder="Date of Event"
                            min="1"
                            required
                        />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Submit Request" />
                </div>
            </div>
        </form>

        <!-- manage list of requests -->
        <div class="detail__songs mb-5">
            <h3 class="title is-3">Requests</h3>
    
            {% for request in chef.requests.all %}
                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{request.title}}</b></span>
                     <!-- drop down for the event information -->
                     <p> {{request.summary}} </p>
                     <p> Estimated: {{request.people}} people</p>
                     <p> {{request.date_of_event}} </p>
                     <div class="detail__container">
                        <div class="buttons">
                            <a href="{% url 'request_update' request.pk %}" class="button is-info">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <a href="/requests/{{request.id}}/delete" class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                </div>
    
            {% empty %}
                <article class="message">
                    <div class="message-header">
                        <p>No Requests for this Chef</p>
                    </div>
                </article>
    
            {% endfor %}
        </div>



</div>

{% endblock %}