<!DOCTYPE html>
<html>
    {% extends 'nav.html' %} 
<body>
    {% block content %}
    <style>
        .homepage{
            padding-top: 30px;
        }
        .image{
            border: 5px solid rgb(172, 172, 172);
        }
        #link{
            text-decoration: none;
        }

    </style>

    <div class="homepage">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-4">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-dark">
                  <p class="title">Welcome to HotPlate</p>
                </article>
                <article class="tile is-child notification ">
                  <p class="subtitle"><b>Discover your MasterChef</b></p>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">We hope...</p>
                <div class="content">
                to help you find the right person for your party, wedding, event, etc, and if you're a chef we hope to connect you with the people looking here in Atlanta or Denver!
                </div>
                
              </article>
            </div>
          </div>
        <div class="tile is-parent">
            
            <article class="tile is-child notification">
            <a id="link" href="{% url 'register_chef' %}">
              <p class="title">Chef?</p>
              <p class="subtitle">Signup Here!</p>
              <figure class="image is-4by3">
                <img src="https://imgur.com/Y0Gd510.png">
              </figure>
            </a>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
            <a href="{% url 'register_client' %}" id="link">
              <p class="title">Client?</p>
              <p class="subtitle">Signup Here!</p>
              <figure class="image is-4by3">
                <img src="https://imgur.com/jKkKH4Y.png">
              </figure>
            </a>
            </article>
          </div>
      </div>
      <div class="tile is-parent is-12">
        <article class="tile is-child notification is-danger">
          <p class="title ">Thank You!</p>
          <div class="content">
            <p>To the people who dedicate their lives to putting a smile on our face. Food is one of the few things enjoyed universally, so it is only proper that we take the time to thank those who put their hands on the line to allow us to experience such great food!</p>
          </div>
        </article>
      </div>
    </div>
    {% endblock %}
</body>
</html>