<!DOCTYPE html>
<html>
    {% extends 'nav.html' %} 
    <style>
        #main-title{
            padding-top: 30px;
        }
        #request-title{
            padding-bottom: 30px;
        }
    </style>
    <body>
        {% block content %}
        <div>
        <h3 id="main-title" class="title is-3">Welcome: {{user.role}} {{user.first_name}} {{user.last_name}}</h3>
        
        {% if user.role == "CHEF" %}
        
        <h3 id="request-title" class="title is-4">Manage your requests below...</h3>
        {% for request in requests%}
        <span><b>{{request.title}}</b></span>
                     <article class="media">

                        <div class="media-content">
                          <div class="content">
                            <p>
                              <strong>{{request.user.first_name}}</strong> <small>@{{request.user.username}} </small>
                              <br>
                              {{request.summary}} 
                              <br>
                              Estimated: {{request.people}} people
                              <br>
                              {{request.date_of_event}}
                            </p>
                          </div>
                          <nav class="level is-mobile">
                          </nav>
                        </div>
                      </article>
                     <div class="detail__container">
                        <div class="buttons">
                            <a href="{% url 'request_update' request.pk %}" class="button is-info">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <a href="/requests/{{request.id}}/delete" class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                        <hr>
        {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Requests Available</p>
          </div>
        </article>
        {% endfor %}
        {% else %}
        <p>hello</p>
        {% endif %}
        {% endblock %}
        </div>
    </body>

</html>


